@font-face {
  font-family: OB;
  src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: OBI;
  src: url('fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
  font-family: OI;
  src: url('fonts/OpenSans-Italic.ttf');
}
@font-face {
  font-family: OR;
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: rukola ;
  src: url('fonts/iCiel\ Rukola.otf');
}
