.container{
	width: 1340px;
	max-width:1340px;
    margin:0 auto;
    @media(max-width:1366px){
        width: 1170px;
		max-width:1170px;
    }
    @media(max-width:1024px){
        width: 100%;
        max-width:100%;
	}
}
a{
    text-decoration: none;
}
.no-mg{
	margin: 0;
}
.no-pd{
	padding: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-left{
    padding-left: 0;
}
.pointer{
	cursor: pointer;
}
.uppercase{
	text-transform: uppercase;
}
.outline{
	outline: none;
}
.opacity{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5,35,57, 0.9);
    opacity: 1;
    z-index: 2;
    transition: all 500ms;
    display: none;
}
.opacity-active{
    display:block;
}

ul{
    list-style-type: none;
}
.row{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col-1{
	-ms-flex: 0 0 ((100/12) *1%);
    flex: 0 0 ((100/12)* 1%);
    max-width: ((100/12)* 1%);
}
.col-2{
	-ms-flex: 0 0 ((100/12)* 2%);
    flex: 0 0 ((100/12)* 2%);
    max-width: ((100/12)* 2%);
}
.col-3{
	-ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    -ms-flex: 0 0 ((100/12)* 4%);
    flex: 0 0 ((100/12)* 4%);
    max-width: ((100/12)* 4%);
}
.col-5{
    -ms-flex: 0 0 ((100/12)* 5%);
    flex: 0 0 ((100/12)* 5%);
    max-width: ((100/12)* 5%);
}
.col-6{
	-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7{
    -ms-flex: 0 0 ((100/12)* 7%);
    flex: 0 0 ((100/12)* 7%);
    max-width: ((100/12)* 7%);
}
.col-8{
    -ms-flex: 0 0 ((100/12)* 8%);
    flex: 0 0 ((100/12)* 8%);
    max-width: ((100/12)* 8%);
}
.col-9{
	-ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10{
    -ms-flex: 0 0 ((100/12)* 10%);
    flex: 0 0 ((100/12)* 10%);
    max-width: ((100/12)* 10%);
}
.col-11{
    -ms-flex: 0 0 ((100/12)* 11%);
    flex: 0 0 ((100/12)* 11%);
    max-width: ((100/12)* 11%);
}
.col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
