@media (max-width: 1280px) {
  .hot-product {
    padding: 60px 20px 0 20px;
  }
  nav.content-container ul li a {
    color: #00305b;
    font-family: OB;
    font-size: 15px;
    padding: 10px 72px;
    border-radius: 32px;
    transition: 0.3s ease-in-out;
  }
  .overview .row .item {
    padding: 50px 51px;
    text-align: center;
  }
  .news .news-group {
    padding: 20px 20px;
  }
  footer .contact {
    text-align: center;
    padding: 0 269px;
  }
}
@media (max-width: 1024px) {
  nav.content-container ul li a {
    padding: 10px 20px;
  }
  .review {
    padding: 30px 0;
  }
  .review h3 {
    font-size: 20px;
  }
  .review h4 {
    font-size: 14px;
  }
  .news {
    padding: 25px 0 0 0;
  }
  .item-group .item.col-3 {
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .overview .row .item {
    padding: unset;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 25px 0;
  }
  .news .news-group .col-7 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news .news-group {
    padding: 10px 40px;
  }
  .news .news-group .col-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }
  footer .contact {
    padding: 0 150px;
  }
  .hot-product .list-product.col-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container .list-product .sidebarmenu .sidebarlink {
    display: -webkit-box;
    overflow-y: scroll;
  }
  .container .list-product .sidebarmenu .sidebarlink li a {
    padding: 30px 15px;
  }
  .hot-product .item-group {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .hot-product .item-group .button {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .item-group-sub .col-12 {
    padding: 0 20px;
  }
  .item-group-sub .col-12:first-child {
    padding-top: 40px;
  }
  .news .news-group .item.col-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .news .button {
    padding-top: 30px;
  }
  .news .content-detail {
    padding: 0 40px;
  }
  .news .title-box {
    margin: 0 40px;
  }
  .news .news-group {
    padding: 40px 40px 0 40px;
  }
}
@media (max-width: 768px) {
  nav.content-container ul li a {
    padding: 10px 15px;
  }
  .review {
    padding: 30px;
  }
  .item-group .item.col-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  footer .contact {
    padding: 0 30px;
  }
  .news .news-group .col-5 {
    padding: 40px 0;
  }
  .item-group .col-12 .col-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .hot-product .item-group-sub .col-7:last-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .news .news-group {
    padding: 20px 40px 0 40px;
  }
  .news .news-group .item.col-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  nav.content-container ul li a {
    font-size: 12px;
    padding: 3px 3px;
    border-radius: 5px;
  }
  .review h3 {
    font-size: 15px;
  }
  .review h4 {
    font-size: 12px;
  }
  .overview .row .item p {
    font-size: 15px;
  }
  .item-group .item.col-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .news .news-group .col-7 {
    padding: 0 20px 80px 20px;
  }
  .news .news-group .col-7 .content-center h3.title-sub,
  .news .news-group .item.col-4 .content-center h3.title-sub {
    font-size: 15px;
  }
  .news .news-group .col-7 .content-center p,
  .news .news-group .item.col-4 .content-center p {
    font-size: 11px;
  }
  .news .news-group .col-5 {
    display: none;
  }
  .hot-product {
    padding: 60px 0 0 0;
  }
  .hot-product .item-group-sub .col-7 .title h3 {
    font-size: 20px;
  }
  .hot-product .item-group-sub .col-7 .content p {
    font-size: 14px;
    padding-bottom: 7px;
  }
  .hot-product .item-group-sub .description p {
    font-size: 14px;
  }
  .news .news-group {
    padding: 20px 0px 0 0px;
  }
  .news .content-detail {
    padding: 0 20px;
  }
  .news .content-detail h3.title {
    font-size: 15px;
  }
  .news .content-detail h5.description {
    font-size: 11px;
  }
  .news .content-detail .content-des p {
    font-size: 12px;
  }
}
