@import url(general.css);
@import url(font.css);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:OR;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #fff;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: #00305b;
}

.fs14{
	font-size: 14px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 11px;
	}
}
.fs13{
	font-size: 13px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 11px;
	}
}
.fs15{
	font-size: 15px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 13px;
	}
}
.fs16{
	font-size: 16px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 14px;
	}
}
.fs17{
	font-size: 17px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 15px;
	}
}
.fs18{
	font-size: 18px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 16px;
	}
}
.fs36{
	font-size: 36px;
	font-weight: normal;
	@media(max-width: 480px){
		font-size: 30px;
	}
}

nav.content-container{
	background-color: #fff;
	ul{
		display: flex;
    	justify-content: flex-end;
		padding: 20px 0;
		li{
			padding: 0 10px;
			a{
				color: #00305b;
				font-family: OB;
				font-size: 15px;
				padding: 10px 40px;
				border-radius: 32px;
				transition: .3s ease-in-out;
			}
			&:hover{
				a{
					background-color: #00305b;
					color: #fff;
					transition: .3s ease-in-out;
				}
			}
			&.active{
				a{
					background-color: #00305b;
					color: #fff;
					transition: .3s ease-in-out;
				}
			}
		}
	}
}

.container{
	.list-product{
		.sidebarmenu{
			.sidebartitle{
				background: #003354;
				color: #fff;
				padding: 20px;
				font-size: 1rem;
				text-transform: uppercase;
				cursor: pointer;
				.fa{
					padding-right: 5px;
					margin-right: 10px;
					line-height: 1;
					display: inline-block;
					vertical-align: middle;
				}
			}
			.sidebarlink{
				position: static;
				top: unset;
				width: 100%;
				z-index: 9;
				box-shadow: none;
				height: auto;
				li.hassub{
					-webkit-transition: all, 1s;
					-khtml-transition: all, 1s;
					-moz-transition: all, 1s;
					-ms-transition: all, 1s;
					-o-transition: all, 1s;
					transition: all, 1s;
				}
				li{
					border-bottom: 1px solid #d1d1d1;
					-webkit-transition: all, 0.3s;
					-khtml-transition: all, 0.3s;
					-moz-transition: all, 0.3s;
					-ms-transition: all, 0.3s;
					-o-transition: all, 0.3s;
					transition: all, 0.3s;
					a{
						display: -webkit-box;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						-ms-flex-align: center;
						align-items: center;
						padding: 14px 15px;
						.icon{
							width: 27px;
							height: 27px;
							background-position: top left;
							-webkit-transition: all, 0.3s;
							-khtml-transition: all, 0.3s;
							-moz-transition: all, 0.3s;
							-ms-transition: all, 0.3s;
							-o-transition: all, 0.3s;
							transition: all, 0.3s;
						}
						h3{
							color: #333;
							font-size: 1rem;
							line-height: 20px;
							padding-left: 30px;
							padding-top: 5px;
						}
						&:hover{
							.icon{
								background-position: 0 -27px;
							}
							h3{
								color: #589f46;
							}
						}
					}
					&.active{
						a{
							.icon{
								background-position: 0 -27px;
							}
							h3{
								color: #589f46;
							}
						}
					}
					&:last-child{
						border: none;
					}
				}
			}
		}
	}
}

.banner{
	.banner-item{
		.item{
			img{
				width: 100%;
			}
		}
	}
}

.review{
	text-align: center;
	padding: 50px 0;
	background-color: #eee;
	h3{
		font-size: 27px;
		color: #589f46;
		margin-bottom: 10px;
	}
	h4{
		font-size: 16px;
		color: #003354;
		margin-bottom: 10px;
	}
	strong{
		color: #589f46;
		font-size: 18px;
		a{
			color: #00305b;
		}
	}
}

.overview{
	background-color: #eee;
	.row{
		display: flex;
    	justify-content: center;
		.item{
			padding: 50px 80px;
			text-align: center;
			svg{
				width: 60px;
				height: 60px;
				path{
					fill: #00305b!important;
					transition: .2s ease-in;
				}
			}
			p{
				padding-top: 15px;
				font-family: OB;
				margin: 0;
				font-size: 14px;
				color: #00305b;
				transition: .2s ease-in;
			}
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}
			&:hover{
				svg{
					path{
						fill: #589f46!important;
						transition: .2s ease-in;
					}
				}
				p{
					color: #589f46;
					transition: .2s ease-in;
				}
			}
		}
	}
}

.hot-product{
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 25px;
	.title{
		h3{
			text-transform: uppercase;
			font-size: 28px;
			color: #00305b;
			text-align: center;
			margin-bottom: 25px;
		}
	}
	.item-group{
		padding-left: 20px;
		.title-sub{
			h3{
				text-align: left;
			}
		}
		.item{
			padding: 15px;
			margin-bottom: 20px;
			border: 1px solid #fff;
			.img-item{
				img{
					max-width: 100%;
					width: 100%;
				}
			}
			.description-item{
				text-align: center;
				h3{
					font-size: 15px;
					color: #00305b;
					text-transform: uppercase;
					font-family: OB;
					margin-bottom: 10px;
				}
				p{
					font-size: 14px;
					margin-bottom: 10px;
					color: #00305b;
					&.price{
						font-family: OB;
						font-size: 15px;
						color: red;
					}
				}
			}
			&:hover{
				border: 1px solid #00305b;
			}
		}
		.button{
			position: relative;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 20px 0 40px 0;
			a{
				width: fit-content;
				padding: 10px 25px;
				background-color: #00305b;
				border-radius: 15px;
				color: #fff;
			}
		}
	}
	.item-group-sub{
		padding-left: 30px;
		.item{
			outline: none;
			border: 1px solid #00305b;
			padding: 20px;
			margin: 0;
			img{
				width: 100%;
			}
			&.slick-current{
				margin: 0;
			}
		}
		.slide-small-img{
			padding: 15px 0;
			.item{
				margin: 0 5px;
			}
			.slick-prev:before, .slick-next:before{
				color: #333;
			}
		}
		.col-7{
			&:last-child{
				padding-left: 40px;
			}
			.title{
				h3{
					text-transform: uppercase;
					font-size: 27px;
					color: #00305b;
					text-align: left;
					margin-bottom: 25px;
					border-bottom: 1px solid #00305b;
				}
			}
			.content{
				p{
					font-family: OB;
					font-size: 16px;
					padding-bottom: 10px;
					span{
						font-family: OR;
						padding-left: 10px;
					}
				}
				.button{
					margin-top: 30px;
					a{
						border-radius: 5px;
					}
				}
			}
		}
		.title-box{
			h3{
				width: fit-content;
				padding: 10px 50px;
				background-color: #00305b;
				color: #fff;
				font-family: OR;
				font-size: 16px;
			}
			margin-top: 40px;
			border-bottom: 1px solid #00305b;
		}
		.description{
			padding: 20px 0;
			p{
				margin: 10px 0;
			}
		}
		.slide-item-group{
			padding-left: 0;
			margin-top: 30px;
			margin-bottom: 50px;
			.slick-prev:before, .slick-next:before{
				color: #333;
			}
			.item{
				margin: 0 10px;
			}
		}
	}
}

.news{
	padding: 60px 0 0 0;
	.title{
		h3{
			text-transform: uppercase;
			font-size: 28px;
			color: #00305b;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.button{
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 0 0 80px 0;
		text-align: center;
		a{
			width: fit-content;
			padding: 10px 25px;
			background-color: #00305b;
			border-radius: 15px;
			color: #fff;
		}
	}
	.news-group{
		padding: 20px 0;
		.col-7, .item.col-4{
			.img-item{
				position: relative;
				height: 65%;
				img{
					width: 100%;
					height: 100%;
				}
				.timeline{
					position: absolute;
					width: fit-content;
					bottom: 0;
					left: 0;
					padding: 10px 20px;
					background-color: #00305b;
					color: #fff;
					font-family: OB;
					font-size: 14px;
				}
				&::before{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					-webkit-transform: scale(0);
					transform: scale(0);
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: .2s;
					transition-duration: .2s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
					background-color: rgba(0, 48, 91, 0.5);
				}
				&:after{
					content: '';
					background-image: url(../images/icon/read.svg);
					background-repeat: no-repeat;
					width: 50px;
					height: 50px;
					position: absolute;
					left: 0;
					right: 0;
					margin: 0 auto;
					top: 50%;
					transform: translateY(-50%);
					opacity: 0;
				}
			}
			.content-center{
				padding: 10px 0;
				h3.title-sub{
					color: #00305b;
					font-family: OB;
					font-size: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					min-height:33px;
				}
				p{
					font-family: OR;
					color: #9D9D9D;
					font-size: 15px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					margin-bottom: 10px;
					line-height: 1.5;
					min-height:66px;
				}
				.read-more{
					span{
						font-family: OB;
						color: #00305b;
						font-size: 16px;
						padding-right: 5px;
					}
				}
			}
			&:hover{
				.img-item{
					&:before{
						-webkit-transform: scale(1);
						transform: scale(1);
					}
					&:after{
						opacity: 1;
					}
				}
			}
		}
		.col-5{
			padding-left: 20px;
			.item{
				border-bottom: 1px solid #C1E1CD;
				padding: 20px 0 15px 0;
				&:first-child{
					padding-top: 0;
				}
				&:last-child{
					border-bottom: none;
				}
				.img-right{
					position: relative;
					img{
						width: 100%;
					}
					&:before{
						content: "";
						position: absolute;
						z-index: 99;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: rgba(0, 48, 91, 0.5);
						-webkit-transform: scaleX(0);
						transform: scaleX(0);
						-webkit-transform-origin: 0 50%;
						transform-origin: 0 50%;
						-webkit-transition-property: transform;
						transition-property: transform;
						-webkit-transition-duration: .5s;
						transition-duration: .5s;
						-webkit-transition-timing-function: ease-out;
						transition-timing-function: ease-out;
						height: 96%;
					}
					&:after{
						content: '';
						background-image: url(../images/icon/read.svg);
						background-size: 100%;
						background-repeat: no-repeat;
						width: 25px;
						height: 25px;
						position: absolute;
						left: 0;
						right: 0;
						margin: 0 auto;
						top: 50%;
						transform: translateY(-50%);
						opacity: 0;
					}
				}
				.content-right{
					padding-left: 20px;
					.time{
						color: #B7B7B7;
						font-family: OR;
						font-size: 12px;
						font-weight: normal;
					}
					.title-sub{
						font-family: OB;
						color: #353535;
						font-size: 18px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						margin: 7px 0;
					}
					p{
						font-family: OR;
						color: #9D9D9D;
						font-size: 15px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
				&:hover{
					.img-right{
						&:before{
							-webkit-transform: scaleX(1);
							transform: scaleX(1);
							-webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
							transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
						}
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}
		.item.col-4{
			padding: 0 15px;
			margin-bottom: 40px;
		}
	}
	.content-detail{
		h3.title{
			font-size: 27px;
			font-family: OB;
			color: #00305b;
		}
		h6.time{
			font-size: 14px;
			font-family: OR;
			color: #589f46;
			margin-bottom: 30px;
			margin-top: 5px;
		}
		h5.description{
			font-size: 16px;
			font-family: OR;
			color: #00305b;
		}
		.content-des{
			margin: 30px 0;
			font-size: 16px;
			font-family: OR;
			color: #00305b;
			p{
				margin-bottom: 1rem;
			}
			img{
				width: 100%;
			}
		}
	}
	.title-box{
		h3{
			width: fit-content;
			padding: 10px 50px;
			background-color: #00305b;
			color: #fff;
			font-family: OR;
			font-size: 16px;
		}
		margin-top: 40px;
		border-bottom: 1px solid #00305b;
	}
	.slide-news-group{
		padding: 40px 0;
		.slick-prev:before, .slick-next:before{
			color: #333;
		}
		.item{
			.read-more{
				display: none;
			}
		}
	}
}

footer{
	background-color: #00305b;
	padding: 30px 0 15px 0;
	.contact{
		text-align: center;
		padding: 0 400px;
		.title{
			font-family: OB;
			color: #fff;
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 20px;
		}
		form{
			.input{
				margin-bottom: 20px;
				input{
					width: 100%;
					height: 40px;
					padding: 0 10px;
					font-family: OR;
					color: #00305b;
					font-size: 14px;
					outline: none;
					&::placeholder{
						font-family: OR;
						color: #00305b;
						font-size: 14px;
					}
				}
				textarea{
					width: 100%;
					height: 150px;
					padding: 10px;
					font-family: OR;
					color: #00305b;
					font-size: 14px;
					outline: none;
					resize: none;
					&::placeholder{
						font-family: OR;
						color: #00305b;
						font-size: 14px;
					}
				}
				button{
					text-align: center;
					border: unset;
					border-radius: unset;
					padding: 10px 20px;
					font-family: OB;
					text-transform: uppercase;
					color: #00305b;
					font-size: 14px;
					background-color: #fff;
					cursor: pointer;
				}
			}
		}
		.copy-right{
			padding-top: 50px;
			text-align: center;
			a{
				font-family: OR;
				color: #fff;
				font-size: 14px;
			}
		}
	}
}
#totop {
background: #fff;
    border: 2px solid #06264c;
    border-radius: 50px;
    bottom: 40px;
    color: #e32429;
    display: none;
    height: 40px;
    line-height: 35px;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-align: center;
    white-space: nowrap;
    width: 40px;
	z-index: 999;
	cursor: pointer;
	&:before{
		content: "\f062";
		font-family: "FontAwesome";
		font-size: 18px;
	}
}